* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #063970;
}

.watchWrapper {
  width: 40vh;
  height: 40vh;
  margin-top: 30vh;

  border: solid whitesmoke 1vh;
  border-radius: 50%;
  position: relative;
}

.dot {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: whitesmoke;
  position : absolute;
  display : block;
  margin-left : 18.8vh;
  margin-top : 19vh;
}

.seconds,
.minutes,
.hours {
  transform-origin: bottom;
  will-change: transform;
}

.seconds {
  display: block;
  width: 1vh;
  height: 20vh;
  background-color: whitesmoke;
  border-radius: 5vh;
  margin-left: 19.25vh;
  position: absolute;
}

.minutes {
  display: block;
  width: 1vh;
  height: 16vh;
  background-color: whitesmoke;
  border-radius: 5vh;
  margin-left: 19.25vh;
  margin-top: 4vh;
  position: absolute;
}

.hours {
  display: block;
  width: 1vh;
  height: 12vh;
  background-color: whitesmoke;
  border-radius: 5vh;
  margin-left: 19.25vh;
  margin-top: 8vh;
  position: absolute;
}
